= simple_form_for(@comment) do |f|
  = f.error_notification

  .comment-form
    = f.input :name
    = f.input :email
    = f.input :page_id, :as => :hidden, :value => @comment.page_id
    = f.input :body, :input_html => { :rows => "2" }, :label => false
    = f.button :submit, :class => "btn btn-primary", :disable_with => "Submitting…"
