%p#notice= notice

%h1{ :id => "article_title"}= @article.title
%div{ :id => "article_summary"}= raw @article.summary
%div{ :id => "article_content"}= raw @article.rendered_body
%p
  %b Author:
  = @article.author

= link_to 'Edit', edit_article_path

= link_to 'Back', articles_path
