.breadcrumb
  - @page.ancestors.each do |page|
    = link_to page.title, wiki_path(page)
    &gt;
  = @page.title

- if is_admin_user?
  = link_to 'Edit', edit_page_path, :class => "btn btn-mini"
  = link_to 'Back', wikis_path, :class => "btn btn-mini"
  = link_to 'New Page', new_page_path, :class => "btn btn-mini"

= render :partial => 'content', :locals => { :page => @page }

= render :partial => 'pages/comments', :locals => { :comments => @comments }

= render :partial => 'pages/add_comment', :locals => { :page => @page }


