<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :publish_at, as: :date_time_picker, label: "Publication Date" %>
  <%= f.input :parent_id %>
  <%= f.collection_select :parent_id, Page.order(:title), :id, :title, include_blank: true %>
  <%= f.input :category, collection: ['posts', 'wiki', 'infos'] %>
  <%= f.input :tag_list %>
  <%= f.input :summary, input_html: { rows: 5 } %>
  <div id="epiceditor"></div>
  <%= f.input :content, :as => :hidden %>

  <%= f.button :submit %>
<% end %>
