- if @pages.empty?
  %h1 Nothing found

- content_for :head, auto_discovery_link_tag(:atom, feed_url)
- @pages.each do |page|
  %h1= link_to page.title, post_path(page)
  = render :partial => 'pages/subtitle', :locals => { :page => page }

  %br
  .lead= raw page.summary
  .more= link_to 'Read more...', post_path(page)

  %br
= paginate @pages

- if is_admin_user?
  = link_to 'New Page', new_page_path, :class => "btn btn-xs btn-primary"
