- @posts.each do |post|
  %h1= link_to post.title, post
  = render :partial => 'subtitle', :locals => { :post => post }

  %br
  %p= raw post.summary
  .author= link_to 'Read more...', post
  %br
= paginate @posts

- if is_admin_user?
  = link_to 'New Post', new_post_path
