%p#notice= notice

%h1{ :id => "post_title"}= @post.title
%div{ :id => "post_summary"}= raw @post.summary
%div{ :id => "post_content"}= raw @post.rendered_body
%p
  %b Author:
  = @post.author

#comments
  - unless @comments.nil?
    %h1 Comments
    - @comments.each do |comment|
      = render :partial => 'comments/comment', :locals => { :comment => comment }, :layout => false

#add_comment
  = link_to "Add comment", add_comment_posts_path(:id => @post.id), :remote => true, :class => "btn btn-inverse"

- if is_admin_user?
  = link_to 'Edit', edit_post_path

  = link_to 'Back', posts_path
