%h1 Listing images

%table
  %tr
    %th Name
    %th Image
    %th Actions


  - @images.each do |image|
    %tr
      %td= image.name
      %td= image_tag image.file_url(:thumb).to_s
      %td
        = link_to 'Show', image, :class => "btn btn-xs"
        = link_to 'Edit', edit_image_path(image), :class => "btn btn-xs btn-primary"
        = link_to 'Destroy', image, :method => :delete, :class => "btn btn-xs btn-danger"

%br

= link_to 'New Image', new_image_path, :class => "btn btn-xs btn-primary"
