%h1 Listing infos

%table
  %tr
    %th Name
    %th Permalink
    %th Content
    %th
    %th
    %th

  - @infos.each do |info|
    %tr
      %td= info.name
      %td= info.permalink
      %td= info.content
      %td= link_to 'Show', info
      %td= link_to 'Edit', edit_info_path(info)
      %td= link_to 'Destroy', info, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Info', new_info_path
