- if params[:controller] == "posts"
  %h1 Post search
  = form_tag posts_path, :method => :get, :class => "navbar-form" do
    = text_field_tag :query, params[:query], :placeholder => 'Enter search term...',:class => "search-query"

- if params[:controller] == "wiki"
  %h1 Wiki search
  = form_tag wikis_path, :method => :get, :class => "navbar-form" do
    = text_field_tag :query, params[:query], :placeholder => 'Enter search term...',:class => "search-query"

%h2 Recent posts
%ul
  - @post_list.each do |post|
    %li=link_to post.title, post_path(post)
%h2 Wiki updates
%ul
  - @wiki_list.each do |wiki|
    %li=link_to wiki.title, wiki_path(wiki)
%h2 Tag Cloud
#tag_cloud
  - tag_cloud Page.published.tag_counts, %w{s m l} do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class

- if is_admin_user? and params[:action] == "show" and @page
  %h2 History
  = render :partial => 'pages/history', :locals => { :page => @page }
