.panel.panel-default
  - if ENV['TWITTER_LINK']
    = link_to ENV['TWITTER_LINK'] do
      = fa_icon("twitter")
  
  - if ENV['LINKEDIN_LINK']
    = link_to ENV['LINKEDIN_LINK'] do
      = fa_icon("linkedin")
  = link_to feed_path, format: 'atom' do
    = fa_icon("rss")

  - if params[:controller] == "posts"
    .panel-heading 
      %b Post search
    .panel-body
      = form_tag posts_path, :method => :get, :class => "navbar-form" do
        = text_field_tag :query, params[:query], :placeholder => 'Enter search term...',:class => "search-query"
  - if params[:controller] == "wiki"
    .panel-heading 
      %b Wiki search
    .panel-body
      = form_tag wikis_path, :method => :get, :class => "navbar-form" do
        = text_field_tag :query, params[:query], :placeholder => 'Enter search term...',:class => "search-query"
  .panel-heading
    %b Recent posts
  .panel-body
    %ul
      - @post_list.each do |post|
        %li=link_to post.title, post_path(post)
  .panel-heading 
    %b Wiki updates
  .panel-body
    %ul
      - @wiki_list.each do |wiki|
        %li=link_to wiki.title, wiki_path(wiki)
  .panel-heading 
    %b Tag Cloud
  .panel-body
    #tag_cloud
      - tag_cloud Page.published.tag_counts, %w{s m l} do |tag, css_class|
        = link_to tag.name, tag_path(tag.name), class: css_class
  
  - if ENV['DISCLAIMER']
    .panel-heading
      %b Disclaimer
    .panel-body
      = ENV['DISCLAIMER']
  .panel-heading
    %b License
  .panel-body
    = render partial: 'layouts/license'
  - if is_admin_user? and params[:action] == "show" and @page
    .panel-heading 
    %b History
    = render :partial => 'pages/history', :locals => { :page => @page }
