!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Djouxblog"
      %meta{:content => content_for?(:description) ? yield(:description) : "Djouxblog", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)

  %body.home
    .navigation-wrapper
      .site-name
        = link_to "DJOUXBLOG", root_path
      .top-navigation
        = render 'layouts/navigation'
    .page
      .article-author-side
        = render 'layouts/sidebar'
      #index
        = render 'layouts/messages'
        = yield
      .footer-wrap
        %footer
          %b &copy; 2013 - Alain Dejoux
    = render 'layouts/footer_analytics'
