!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Djouxblog"
      %meta{:content => content_for?(:description) ? yield(:description) : "Djouxblog", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        %link{:href => "http://fonts.googleapis.com/css?family=Enriqueta:400,700", :rel => "stylesheet", :type => "text/css"}
        = csrf_meta_tags
        = yield(:head)

  %body
    .site-name
      = link_to "DJOUXBLOG", root_path
    .top-navigation
      = render 'layouts/navigation'
    .page
      .image-wrap
        = image_tag("/assets/banner.png")
      .article-author-side
        = render 'layouts/sidebar'
      #index
        = render 'layouts/messages'
        = yield

      .footer-wrap
        %footer
          %b &copy; 2013 - Alain Dejoux
    = render 'layouts/footer_analytics'